body {
  background-color: #24376e;
  margin: 0;
}

header {
  margin: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}

.title {
  width: 200px;
}

.menu {
  display: flex;
}

.mainMenu {
  display: flex;
}

button {
  background: transparent;
  border: 0;
  color: #dddddd;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 16px;
  display: none;
}
.new {
  background: #08164088;
  color: #0cdeed;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12px;
  border: 0;
  border-radius: 12px;
}

.subMenu1 {
  margin-left: 10px;
  display: flex;
  align-items: center;
  display: none;
}
.subMenu2 {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.screenMode {
  padding: 0px 10px;
  width: 30px;
}

.gitMenu {
  padding: 0px 10px;
  width: 20px;
}

.search {
  padding: 0px 10px;
  width: 20px;
}

.dot3Menu {
  padding: 0px 10px;
  width: 20px;
}

@media (min-width: 1024px) {
  button {
    display: inline-block;
  }
  .subMenu1 {
    display: flex;
  }
  .subMenu2 {
    display: none;
  }
}
